<%- include("../include/header") %>
<p class="cus-p">
    This is <strong><%= emailAddress %></strong>'s password change service.
</p>
<br>
<p class="cus-p">
    Enter the code below to complete the email verification.
</p>
<br>
<p class="cus-p-big">
    Code: <%= code %>
</p>
<br>
<p class="cus-p">
    Thank you.
</p>
<%- include("../include/footer") %>