<%- include("../include/header") %>
<p class="cus-p">
    Thank you so much for joining <strong><%= emailAddress %>></strong>.
</p>
<br>
<p class="cus-p">
    Enter the code below to complete the email verification.
</p>
<br>
<p class="cus-p-big">
    Code: <%= code %>
</p>
<br>
<br>
<p class="cus-p">
    We will do our best to reward your support.
</p>
<br>
<p class="cus-p">
    Thank you.
</p>
<%- include("../include/footer") %>